<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <main>
    <div class="content">

      <section>
        <div class="component">
          <%= require('./html/landing-page.html') %>
        </div>
      </section>
      <section>
        <div class="component vert-align">
            <%= require('./html/about.html') %>
        </div>
      </section>
      <section>
        <div class="component">
            <%= require('./html/map.html') %>
        </div>
      </section>
      <section>
        <div class="component">
          <%= require('./html/calendar.html') %>
        </div>
      </section>
      <section>
        <div class="component">
          <%= require('./html/accommodates.html') %>
        </div>
      </section>
    </div>

    <div class="nav">
      <button class="home-btn">Home</button>
      <button class="about-btn">About</button>
      <button class="map-btn">Map</button>
      <button class="calendar-btn">Calendar</button>
      <button class="accommodates-btn">Accommodates</button>
      <button class="fl-right next">Next</button>
      <button class="fl-right prev">Prev</button>
    </div>

  </main>

</body>
</html>