<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <main>
    <div class="content">
      <section>
        <div class="text">
          <%= require('./html/landing-page.html') %>
        </div>
      </section>
      <section>
        <div class="text">
          <div class="page-section2">
            <%= require('./html/about.html') %>
          </div>
        </div>
      </section>
      <section>
        <div class="text">
          <div class="page-section3">
            <%= require('./html/map.html') %>
          </div>
        </div>
      </section>
      <section>
        <div class="text">
          <%= require('./html/calendar.html') %>
        </div>
      </section>
      <section>
        <div class="text">
          <%= require('./html/accommodates.html') %>
        </div>
      </section>
    </div>
    <div class="nav">
      <button class="prev">prev</button>
      <button class="next">next</button>
    </div>
  </main>

</body>
</html>